/* @type */
.layout-header,
.layout-header-placement {
  height: var(--header-height);
}

.layout-header {
  z-index: var(--header-z-index);
}

.layout-tab {
  top: var(--header-height);
  height: var(--tab-height);
  z-index: var(--tab-z-index);
}

.layout-tab-placement {
  height: var(--tab-height);
}

.layout-sidebar {
  width: var(--sidebar-width);
  z-index: var(--sidebar-z-index);
}

.layout-mobile-sidebar {
  z-index: var(--sidebar-z-index, 2999);
  width: var(--sidebar-width);
  transform: translateX(calc(var(--sidebar-width) * -1));
}

.layout-mobile-sidebar.active {
  transform: translateX(0);
}

.layout-mobile-sidebar-mask {
  z-index: var(--mobile-sidebar-z-index, 2998);
}

.layout-sidebar_collapsed {
  width: var(--sidebar-collapsed-width);
  z-index: var(--sidebar-z-index);
}

.layout-footer,
.layout-footer-placement {
  height: var(--footer-height);
}

.layout-footer {
  z-index: var(--footer-z-index);
}

.left-gap {
  padding-left: var(--sidebar-width);
}

.left-gap_collapsed {
  padding-left: var(--sidebar-collapsed-width);
}

.sidebar-padding-top {
  padding-top: var(--header-height);
}

.sidebar-padding-bottom {
  padding-bottom: var(--footer-height);
}
